extends layout

block append vars
	- bodyclass = 'index'

block content
	.content-wrap
		.grid
			.grid__col-xs-12
				.block-ver-lg
					h1 Reports
					ul.ul-styled
						li: a.styled(href="/big-ideas-ss19-womenswear") Big Ideas S/S19 Womenswear
						li: a.styled(href="/retail-analysis-active-women-spring-2017") Retail Analysis – Active Women Spring 2017